<% if (user) { %>
	<form action="/logout" method="POST">
	  <%= user.email %>
	  <button type="submit">Logout</button>
	</form>
<%} else {%>
	<a href="/register">Sign Up</a>
	<a href="/login">Login</a>
<%}%>