<% if (user) { %>
	<form action="/logout" method="POST">
	  <p>User account email : <br><%= user.email %></p>
	  <button type="submit">Logout</button>
	</form>
<%} else {%>
	<a href="/register">Sign Up</a>
	<a href="/login">Login</a>
<%}%>