<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
    <form method="POST" action="/urls/<%= shortURL %>">
  		<p>ShortURL: <%= shortURL %>
  		<input type="url" name="longURL" placeholder="http://" value="<%= longURL %>">
  		<button type="">Update</button></p>
    </form>
</body>
</html>