<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>TinyApp</title>
  	<link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <form action="/register" method="POST" style="margin:150px;">
      <!-- <label for="longURL">Enter a URL:</label> -->
      <input id="email" type="email" name="email" placeholder="Set your email here" style="width: 300px">
      <input id="password" type="password" name="password" placeholder="Set your password here" style="width: 300px">
      <input type="submit" value="Register">
    </form>
  </body>
</html>